h1 {
    padding: .5rem;
    
    color: whitesmoke;
    background-color: darkblue;
}

h3 {
    display: block;
    padding: .5rem;

    color: darkblue;
    background-color: rgb(135, 250, 196);

    border-radius: .8em;
    border: 2px solid darkblue;
}

p {
    color: rgb(57, 57, 57)
}

.external-border {
    padding: 0.5em;
    
    background-color: lightskyblue;
    
    border-radius: .8em;
}

